.name-class{
    margin-top: 100px;
}

.system-name{
    display: table-cell;
    width: 260px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}
.system-name > span{
    font-size: 30px;
    font-weight: 600;
    font-family: "Adobe 楷体 Std R";
    color: #00ff71;

}